{% extends "main.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h1>Courses</h1>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class = 'flash'>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                {% endif %}
            {% endwith %}
            </div>
            {% endif %}
            {% endwith %}
            <a href="{{url_for('new_course')}}" class="btn btn-default add-course-button"><span class="glyphicon glyphicon-plus"></span> Add Course</a>
            <div class="row block-space"></div>
            {% for course in courses %}
                <div class="courses">
                    <span class="course-created-by">{{course.user_id}}</span>
                    <a href="{{url_for('edit_course', course_id=course.id)}}" class="edit-delete">Edit</a>
                    <a href="{{url_for('delete_course', course_id=course.id)}}" class="edit-delete">Delete</a>
                    <h4><a href="{{url_for('show_cards', course_id=course.id)}}">{{course.name}}</a></h4>

                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

