{% extends "main.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h3>My Cards</h3>
        {% for card_dict in all_cards_list %}
        <h4>{{ card_dict['course'].name}}</h4>
        {% if card_dict['cards'] %}
        <table class="table table-striped" style="width: 100%;">
            <tr>
                <th>Name</th>
                <th>Memorized</th>
            </tr>
            {% for card in card_dict['cards'] %}
            <tr>
                <td style="width: 60%"><a href="{{url_for('card_detail', course_id=card_dict['course'].id, card_id=card.id)}}">{{card.name}}</a></td>
                {% if card.id in memorized_card_id_list%}
                <td style="width: 40%">yes</td>
                {% else %}
                <td style="width: 40%">no</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        {% else %}
        No memorized cards in {{card_dict['course'].name}}
        {% endif %}
        <hr>
        {% endfor %}
    </div>
</div>



{% endblock %}